body,html{
  width:100%;
  height:100%;
  color: #4A4A4A;
}

body{
  margin: 0 auto;
}

// Create variable 
$primaryColor: blue;


// Import all scss file
@import './share/_share';
@import './auth/_auth';

